Repository nlamirault/terraform-google-velero, pull requests merged in 2022-01, with the labels that each got.

#27 Use KMS key ID instead of name
  velero.tf
Labels: kind/feature, priority/high, lifecycle/active, area/terraform

#28 Fix: TFlint configuration
  .tflint.hcl
Labels: priority/low, status/review_needed, lifecycle/active, kind/cleanup, area/terraform

#32 Provider requirement and module usage
  README.md
  kms.tf
  variables.tf
  velero.tf
Labels: status/review_needed, kind/feature, priority/high, lifecycle/active, size/m, area/terraform
